a{
    text-decoration: none;
}
header{
    font-family: "Circe", sans-serif;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
main{
    font-family: "Gilaim", sans-serif;
}
.pseudo-contain-one, .pseudo-contain-two{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
