*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 25px auto;
    height: 100%;
    background: #171717;
}
.container{
    background-image: url("../images/header.jpeg");
    background-size: 100vw 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.second-container{
    background-image: url("../images/parallax.jpeg");
    background-size: 100vw 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-logo{
    width: 216px;
    height: 33px;
}
.header-contacts{
    justify-content: flex-end;
}
.header-number{
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-right: 20px;
}
span{
    color: rgb(214, 175, 118);
}

.header-callback{
    color: rgb(228, 181, 100);
    padding: 10px 25px;
    font-weight: 400;
    border: 1px solid rgb(228, 181, 100);
}
.header-callback .phone-icon{
    width: 12px;
    height: 12px;
    margin-right: 10px;
}
.first-block{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 400px 400px;
    gap: 20px;
    margin-top: 41px;
    color: rgba(255, 255, 255, 1);
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.first-description{
    display: block;
    color: rgba(255, 255, 255, 1);
    margin-top: 128px;
}

.pic-1{
    grid-area: 1 / 1 / 2 / 3;
    background: #634F2C;
}
.pic-2{
    grid-area: 1 / 3 / 2 / 5;
    background: #B4A385;
}
.pic-3{
    grid-area: 1 / 5 / 2 / 7;
    background: #E4B564;
}
.pic-4{
    grid-area: 2 / 1 / 3 / 4;
    background: #635A4A;
}
.pic-5{
    grid-area: 2 / 4 / 3 / 7;
    background: #B08C4D;
}
.second-description{
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 28px;
    margin-top: 161px;
    margin-bottom: 94px;
}
.second-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 100px);
    gap: 20px;
}
.inf{
    color: rgba(255, 255, 255, 1);
    padding: 45px;
}
.block-1{
    grid-area: 1 / 1 / 3 / 2;
    background: #0E0E0E;
}
.block-2{
    grid-area: 1 / 2 / 4 / 3;
    background: #242424;
}
.block-3{
    grid-area: 1 / 3 / 3 / 4;
    background: #1F1F1F;
}
.block-4{
    grid-area: 3 / 1 / 7 / 2;
    background: #1F1F1F;
}
.block-5{
    grid-area: 4 / 2 / 7 / 3;
    background: #E4B564;
    color: #000;
}
.block-6{
    grid-area: 3 / 3 / 5 / 4;
    background: #0E0E0E;
}
.block-7{
    grid-area: 5 / 3 / 7 / 4;
    background: #0E0E0E;
}

.third-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    margin-top: 191px;
    margin-bottom: 72px;
}
.projects{
    padding: 15px;
    border: 1px solid rgb(228, 181, 100);
    color: rgb(228, 181, 100);
}
.third-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 350px);
}

.element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.element .brand-pic{
    transition: .2s;
    transform: translateY(0);
}
.element p{
    color: rgba(255, 255, 255, 1);
    transition: .2s;
    display: none;
}
.element:hover .brand-pic{
    transform: translateY(-30px);
}
.element:hover p{
    color: rgba(255, 255, 255, 1);
    transition: .2s;
    display: block;
}

.image-1{
    background: #634F2C;
}
.brand-img-1{
    width: 185px;
    height: 49px;
}
.image-2{
    background: rgb(232, 210, 171);
}
.brand-img-2{
    width: 139px;
    height: 110px;
}
.image-3{
    background: #E4B564;
}
.brand-img-3{
    width: 190px;
    height: 42px;
}
.image-4{
    background: #635A4A;
}
.brand-img-4{
    width: 190px;
    height: 42px;
}
.image-5{
    background: #B08C4D;
}
.brand-img-5{
    width: 119px;
    height: 53px;
}
.image-6{
    background: #634F2C;
}
.brand-img-6{
    width: 185px;
    height: 49px;
}

